/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
      box-sizing: border-box;
    }
/*
    2. Remove default margin
  */
* {
      margin: 0;
    }
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
      height: 100%;
    }
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
      -webkit-font-smoothing: antialiased;
      line-height: 1.5;
    }
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
      display: block;
      max-width: 100%;
    }
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
      font: inherit;
    }
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
      overflow-wrap: break-word;
    }
/*
    9. Create a root stacking context
  */
#root,
#__next {
      isolation: isolate;
    }
/* Font Section */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&family=Space+Grotesk:wght@300;600&display=swap");
body {
      align-items: center;
      background-image: url(/images/Orange\ Coral.png);
      display: flex;
      flex-direction: column;
    }
form {
      background: rgba(73, 73, 131, 0.6);
      border-radius: 1rem;
      border: none;
      font-family: "Mulish", sans-serif;
      font-size: 20px;
      max-width: 55vw;
    }
h1,
p {
      color: white;
      font-family: "Space Grotesk", sans-serif;
      text-decoration: mintcream;
    }
input[type="number"] {
      -moz-appearance: textfield;
    }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
p {
      font-style: italic;
      font-weight: 300;
      margin-bottom: 2rem;
    }
h1 {
      font-weight: 600;
      margin-top: 3rem;
    }
#name,
#email,
#number {
      border-radius: 0.2rem;
      border: none;
      margin-bottom: 1rem;
      width: 100%;
    }
fieldset {
      border: none;
      padding: 2rem;
    }
textarea {
      font-size: 15px;
      width: 100%;
    }
button {
      background: #37af65;
      border-radius: 0.4rem;
      border: none;
      color: white;
      font-size: 18px;
      margin: 2rem auto;
      padding: 0.5rem;
      width: 100%;
    }
label {
      color: white;
    }
#soda {
      margin-top: 2rem;
    }
.subtext {
      font-size: 18px;
      font-style: italic;
    }


/* Media Queries */

@media only screen and (min-width: 375px) and (max-width: 500px){
    form {
        max-width: 375px;
    }
    h1, p {
        text-align: center;
    }
}
@media only screen and (min-width: 500px) and (max-width: 768px){
    form {
        max-width: 500px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    form {
        max-width: 1190px;
    }
}